body {
	margin: 0px;
}

div#gameScreen {
	background-image: url("images/green_dust_scratch.png");
}

div.numberCell {
	position: absolute;
	text-align: center;
	color: rgb(50, 50, 50);
}

div.numberCell.odda {
	background-color: rgba(255, 255, 255, 0.7);
}

div.numberCell.evena {
	background-color: rgba(230, 230, 230, 0.7);
}

div.inputCell {
	position: absolute;
	border-top: 1px solid rgb(200, 200, 200);
	border-right: 1px solid rgb(100, 100, 100);
	border-bottom: 1px solid rgb(50, 50, 50);
	border-left: 1px solid rgb(150, 150, 150);
}

div.inputCell.white {
	background-color: rgba(255, 255, 255, 0.7);
}

div.inputCell.black {
	background-color: rgba(0, 0, 0, 0.7);
}

div.inputCell.cross {
	background-color: rgba(255, 255, 255, 0.7);
}

div.selection {
	background-color: rgba(255, 150, 50, 0.2);
}

div#selectedCol {
	position: absolute;
}

div#selectedRow {
	position: absolute;
}

div#selectedCell {
	position: absolute;
	z-index: 1000;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 150, 50);
}

div.overlapCell {
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(127, 127, 127);
}

div.overlapCell.white {
	background-color: rgba(255, 255, 255, 0.8);
}

div.overlapCell.black {
	background-color: rgba(127, 127, 127, 0.8);
}

div.overlapCell.cross {
	background-color: rgba(255, 255, 255, 0.8);
}

div#upNumberArea {
	position: absolute;
}

div#leftNumberArea {
	position: absolute;
}
